* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-image: url("background.jpg");
}

img {
  max-width: 100%;
  max-height: 100%;
}

.site-header {
  padding: 3rem 2rem;
  font-size: 5rem;
  font-family: BetterGrade;
  text-align: center;
}

.wrapper {
  width: 800px;
  height: 200vh;
  margin: 0 auto;
  background-color: #005d82dd;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: thistle;
}

.image {
  width: 50%;
  padding: 2rem;
}

.info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 2rem;
  width: 50%;
}

.cast-title {
  font-size: 4rem;
  font-family: BetterGrade;
  width: 100%;
  text-align: center;
}

.cast {
  padding: 1rem;
  width: 33.33%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.sidebar {
  background-color: #005d82dd;
  position: fixed;
  left: 0%;
  top: 25%;
  padding: 0.5rem;
  height: 50vh;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav a {
  display: block;
  margin: 1rem;
  padding: 1rem 1rem;
  color: white;
  font-family:'Courier New', Courier, monospace;
}

li:hover a {
  color: black;
}

#guess {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  padding: 0.3333rem;
  text-align: center;
  width: 15%;
  margin: 2rem;
}

.footer {
  background-color: #d8bfd8;
  padding: 3rem 2rem;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 800px) {
  .cast {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .info {
    width: 100%;
  }
}
